/*
    Name: Tinu Basil
    filename: style.css
    Course: INFT 2202 - 05
    Date: 10 jan 2024
    Description: This is my general style sheet.  Styles that affect all pages should go here.
*/